body{
    background-color: rgb(218, 235, 245);

}

.box{
    background-color: #fff;
    border: 1px solid #000;
}

.header{
    grid-area: hd;
    background-color: rgb(103, 105, 105);
}

.footer{
    grid-area: ft;
    background-color: rgb(103, 105, 105);
    justify-content: space-around;

}

.sidebar{
    grid-area: sd;
}

.content{
    grid-area: main;
}

@media only screen and (max-width: 200px) {

    body { 
       font-size: 2em; 
       text-align: center;
    }
 
 }

/*footer.css*/
.ft-link{
    width: 30px;
    height: 20px;
    display: inline;
}